<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <H2 class="container">Tabla de medicamentos</H2>

    <div class="container">
        <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
                <% list.forEach(function(item) { %>
                    <tr>
                        <th scope="row"><%= item.codigo %></th>
                        <th scope="row"><%= item.nombre %></th>
                        <th scope="row"><%= item.cantidad %></th>
                        <th scope="row"><%= item.precio %></th>
                        <th scope="row"><%= item.subtotal %></th>
                        <th scope="row"><%= item.estado %></th>
                    </tr>
                <% }); %>
              <tr>
              </tr>
            </tbody>
          </table>
    </div>











    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>